flake8==4.0.1
Flask==2.3.2
Pallets-Sphinx-Themes==1.2.3
pylint==2.12.2
pytest==6.2.5
pytest-cov==3.0.0
requests==2.27.1
Sphinx==3.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tox==3.24.5
